!DOCTYPE html
html
head
    meta charset=UTF-8
    title{{ title }}title
    style
        body { font-family Arial, sans-serif; margin 20px; }
        h1 { color darkblue; }
        nav a { margin-right 15px; text-decoration none; color darkgreen; }
        nav ahover { text-decoration underline; }
    style
head
body
    h1Kids Education Apph1
    nav
        a href=Homea
        a href=quiz1Freedom Fighters Quiza
        a href=quiz2Fruits Quiza
    nav
    hr
    {% block content %}{% endblock %}
body
html
